@import url('normalize.css');

html, body {
    height: 100%;
    font-family: 'Montserrat', Arial, Helvetica;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    display: inline;
}


.about {
    background: #F6F6F6;
    padding: 120px 0 110px;
    text-align: center;
}
.about__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__item {
    width: 45%;
}

.container {
    margin: 0 auto;
    max-width: 950px;
}
@media (max-width: 390px) {
    .container {
        /* max-width: 350px; */
    }
    .skills__list {
        flex-direction: column;
    }
    .who__block {
        flex-direction: column;
        align-items: flex-start;
    }
    hr {
        display: none;
    }

}

.contacts {
    padding: 110px 0 115px;
}
.contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__head {
    margin-bottom: 25px;
}
.contacts__desc {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;

}
.contacts__btn {
	border-radius:28px;
    text-decoration: none;
	cursor:pointer;
    color:#fff;
    background-color: black;
    font-weight: 700;
	font-size:18px;
    padding:16px 30px;
    transition-duration: 100ms;
    margin-bottom: 85px;
}
.contacts__list {
    display: flex;
    justify-content: space-between;
    width: 37%;
    margin-bottom: 45px;
}
.contacts__appeal {
    color: #828282;
    font-size: 14px;
    text-align: center;
}


.header {
    min-width: 950px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 35px 0 0;
}
.header:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ccc;
}
.header__menu {
    max-width: 950px;
    margin: 0 auto;
}
.icon {
    display: none;
    position: absolute;
    z-index: -1;
}
.header__list {
    position: relative;
    z-index: 2;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.header__link {
    font-size: 18px;
    color: #828282;
    font-weight: 800;
    text-decoration: none;
}
.header__link:hover {
    color: black;
}


.portfolio {
    background: #F6F6F6;
    padding: 110px 0 0;
}
.portfolio__head {
    margin-bottom: 47px;
}
.portfolio__list {
    display: flex;
    flex-direction: column;
}
.portfolio__link {
    margin-top: 45px;
    align-self: center;
    color: #070707;
    font-size: 18px;
}
.portfolio__item {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}


.skills {
    padding:90px 0 110px;
}
.skills__text {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 84px;
}
.skills__list {
    display: flex;
    justify-content: space-between;
}
.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 207px;
    justify-content: space-around;
}
.skills__star-item {
    margin-right: 10px;
}
.skills__star-item:last-child {
    margin-right: 0;
}
.skills__tool {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    color: #828282;
    max-width: 88px;
    text-align: center;
    margin-bottom: 40px;
}
.skills__img {
    margin-bottom: 25px;
    max-width: 88px;
    max-height: 88px;
}


.who {
    padding-bottom: 104px;
}
.who__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 30px;
    align-items: center;
}
.who__name {
    max-width: 15%;
    font-weight: 700;
    font-size: 48px;
}
.who__who-is {
    max-width: 18%;
    font-size: 18px;
    line-height: 22px;
}
.who__lang {
    transform: rotate(-90deg);
    margin-right: -25px;
    font-size: 16px;
    font-weight: bold;
    color: #828282;
    margin-bottom: 0;
}
.who__img{
    width: 100%;
}
strong {
    color: black;
}